@let frontSelectors = frontSelectors$ | async;
@let backSelectors = backSelectors$ | async;
@let otherSelectors = otherSelectors$ | async;
@if(frontSelectors && backSelectors && otherSelectors ){
<mat-card appearance="raised">
  <mat-card-content class="card-content">
    <div class="front">
      <div class="title">front salto's:</div>
      <div class="selectors">
        @for (item of frontSelectors; track item.id) {
        <app-selector-option [selector]="item"></app-selector-option>
        }
      </div>
    </div>
    <div class="back">
      <div class="title">back salto's:</div>
      <div class="selectors">
        @for (item of backSelectors; track item.id) {
        <app-selector-option [selector]="item"></app-selector-option>
        }
      </div>
    </div>
    <div class="other">
      <div class="title">other:</div>
      <div class="selectors">
        @for (item of otherSelectors; track item.id) {
        <app-selector-option [selector]="item"></app-selector-option>
        }
      </div>
    </div>
  </mat-card-content>
</mat-card>
}
